In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("/home/brendan/Desktop/Crimes_-_2001_to_present.csv", header=0, usecols=[2,4,5,8,16,17,18])
df['Date2'] = pd.to_datetime(df.Date)

#date2 = pd.to_datetime(df.Date, errors='coerce')
#df.assign(Date2=date2.dt.date, Time=date2.dt.time)

df.head(10)

In [ ]:
import pandas as pd
import numpy as np
import datetime

df = pd.read_csv("/home/brendan/Desktop/Crimes_-_2001_to_present.csv", header=0, usecols=[2,4,5,8,16,17,18])
#df['Date2'] = pd.to_datetime(df.Date)

date2 = pd.to_df['test_average'] = (df.test_one + df.test_two)/2
df.head()(df.Date)
#df.assign(Date2=date2.dt.date, Time=date2.dt.time)
#df['Dates'] = pd.to_datetime(df['Date']).dt.date
#df['Time'] = pd.to_datetime(df['Date']).dt.time

print(date2)

In [ ]:
import datetime
dt = datetime.date(2019, 10, 20)

print(dt)

In [ ]:
print(dt)

In [ ]:
#df['test_average'] = (df.Date)
#
#df.head(10)
df[['First','Last','other']] = df.Date.str.split(",",expand=True) 
print(df)

In [1]:
print(dt)

NameError: name 'dt' is not defined

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("/home/brendan/Desktop/Crimes_-_2001_to_present.csv", header=0, usecols=[2,4,5,8,16,17,18])

In [3]:
df.head(4)

,Date,IUCR,Primary Type,Arrest,Y Coordinate,Year,Updated On
0,01/01/2001 11:00:00 AM,1153,DECEPTIVE PRACTICE,False,NaN,2001,08/05/2017 03:50:08 PM
1,10/08/2017 03:00:00 AM,0281,CRIM SEXUAL ASSAULT,False,NaN,2017,02/11/2018 03:57:41 PM
2,03/28/2017 02:00:00 PM,0620,BURGLARY,False,NaN,2017,02/11/2018 03:57:41 PM
3,09/09/2017 08:17:00 PM,0810,THEFT,False,NaN,2017,02/11/2018 03:57:41 PM

In [ ]:
df['Date'] = pd.to_datetime(df.Date)
df['Date2'] = pd.to_datetime(df['Date']).dt.date

In [ ]:
df['Time2'] = pd.to_datetime(df['Date']).dt.time
df.head(10)

In [ ]:
df=df.drop('Date', axis=1)
df.head(10)

In [ ]:

# Take a look at the first few rows
#print (df)
#df.notnull()
df.isna().sum()

In [ ]:
import matplotlib.pyplot as plt
plt.plot([1, 2, 3, 4])
plt.ylabel('some numbers')
plt.show()
#Copy to clipboard